/* .section > .section-title{
  color: purple;
} */

/* #title-id{
  color: purple;
} */

/* .section-title,
.link,
.list{
  color: blue;
}

h3{
  color: red !important;
}

h3{
  color: green;
}

header a {
  color: red;
} 
body {
    font-family: 'Courier New', Courier, monospace;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*  Специфічність*/
/* .blogs-title{
    color: aqua !important;
} */

 #id-title {
    color: blue;
} 

/section .blogs-title {
    color: red;
} 

/* Псевдокласи стану */
.link {
    color: teal;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 .link:hover,
.link:focus {
    color:orange;
} 

 .link:active {
    color: red;
} 

 .link:visited {
    color: green;
} 

/*  pseudo classes*/
/* .list-item:not(:last-child) */
.list-item {
    margin-bottom: 12px;
}

.list-item:last-child {
    margin-bottom: 0;
}


/* :nth-child(an+b)*/

 .list-item:nth-child(5) {
  background-color: orange;
} 

/* Парні */

.list-item:nth-child(2n) {
  background-color: orange;
} 

/* АБО */
 .list-item:nth-child(even) {
  background-color: orange;
} 

/*  непарні елементи */
 .list-item:nth-child(2n + 1) {
  background-color: orange;
} 
/* АБО */
/* Аналогічно, використовуючи псевдонім */
.list-item:nth-child(odd) {
  background-color: orange;
} 

/* Від N-го елемента​ */
 .list-item:nth-child(n + 6) {
  background-color: orange;
} 
/* До N-го елемента */
 .list-item:nth-child(-n + 5) {
  background-color: orange;
} 

/* Кожен N-й елемент */
.list-item:nth-child(3n + 1) {
  background-color: orange;
} 

/*  Творче завдання */
.schedule-body>tr:hover {
    background-color: tomato;
    color: white;
}

/* Оформлення таблиці */
.schedule {
    border-collapse: collapse;
}

.schedule th,
.schedule td {
    padding: 8px;
    border: 1px solid #212121;
} 

/* вибирає перший селектор цього типу; */
 .schedule-body>tr:first-of-type {
  background-color: tomato;
  color: white;
} 

/* вибирає останній селектор цього типу; */
 .schedule-body>tr:last-of-type {
  background-color: tomato;
  color: white;
} 